<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NIR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/add.css'>
    <script src="https://kit.fontawesome.com/f72ab65de3.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- <div class="container">

            <div class="top_b">
                <a href="{{url_for('start')}}">back</a>
                <form action="/add_button">
                    <button>Search</button>
                </form>
                <p>rec note</p>
            </div>

            <div class="rec_data">
                <div class="inp_box" id="ip2">
                    <p>Date</p>
                    <input type="text" value="{{l_factura[0]}}" disabled>
                </div>
                <div class="inp_box" id="ip2">
                    <p>Number</p>
                    <input type="text" value="{{l_factura[1]}}" disabled>
                </div>
                <div class="inp_box" id="ip2">
                    <p>Provider</p>
                    <input type="text" value="{{l_factura[2]}}" disabled>
                </div>
            </div>

            <div class="data-box">
                {% for cl in data%}
                <div class="inp_box">
                    <p><a href="{{ url_for('edit_cust', p1=cl) }}">{{cl}}</a></p>
                </div>
                {% endfor %}
            </div>
            
            <div>
                <div class="icon-container">

                    <button id="search"><i class="fa-solid fa-magnifying-glass"></i></button>

                <form action="/preview">
                    <button id="eye"><i class="fa-solid fa-eye"></i></button>
                </form>
                <form action="/final_preview">
                    <button id="check"><i class="fa-solid fa-check"></i></button>
                </form>
                <form action="/start">
                    <button id="house"><i class="fa-solid fa-house"></i></button>
                </form>
            </div>

    </div> -->
    <h1 style="color: #fdfdfd;;">ADD.HTML</h1>


    
</body>

</html>
