<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../static/forget_pass.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Recover</h1>
        </header>
        
        <br>
        <br>
        <form id="myForm">
            <div class="input">
                <p>Email</p>
                <input type="email" id="email" name="email">
            </div>

            <div class="home">
                <p>Go to <a href="{{url_for('home')}}">Home</a></p>
            </div>

            <br>
            <br>
            <div class="buton">
                <button type="button" onclick="validateForm()">Submit</button>
            </div>
        </form>
    </div>

  <script>
    function validateForm() {
      var emailInput = document.getElementById('email');

      emailInput.classList.remove('error');

      if (emailInput.value.trim() === '') {
        emailInput.classList.add('error');
      }

      // Check if all inputs are not empty
      if (nameInput.value.trim() !== '' && emailInput.value.trim() !== '') {
        // All inputs are not empty, you can proceed with your logic
        alert('Form submitted successfully!');
      }
    }
  </script>

</body>
</html>
